# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# Gemfile lock file
Gemfile.lock

# jeweler generated
pkg

# Project files to ignore
.DS_Store
.idea
*.swp
